[Unit]
Description=Multimedia ISOs mount
Requires=dev-disk-by\x2duuid-2dad8646\x2d5dff\x2d46f9\x2d807b\x2d8c7a3cf1b7be.device
After=dev-disk-by\x2duuid-2dad8646\x2d5dff\x2d46f9\x2d807b\x2d8c7a3cf1b7be.device

[Mount]
What=/dev/disk/by-uuid/2dad8646-5dff-46f9-807b-8c7a3cf1b7be
Where=/home/alcides/Multimedia/isos
Type=btrfs
Options=subvol=@isos,defaults,compress=zstd:15

[Install]
RequiredBy=dev-disk-by\x2duuid-2dad8646\x2d5dff\x2d46f9\x2d807b\x2d8c7a3cf1b7be.device
