## arrow up
"\e[A":history-search-backward

## arrow down
"\e[B":history-search-forward

# case insensitive search
set completion-ignore-case on

## Menu complete
TAB: menu-complete
"\e[Z": menu-complete-backward
set menu-complete-display-prefix on
set show-all-if-unmodified on
set show-all-if-ambiguous on
set colored-completion-prefix on
set colored-stats on

# ctrl + Backspace for delete word backward
"\C-H": backward-kill-word

# disable more pagger on long completions
set completion-query-items -1
set page-completions off
