[Unit]
Description=Xremap tool daemon

[Service]
ExecStart=/usr/bin/xremap /home/alcides/.config/xremap/config.yml

[Install]
WantedBy=default.target
